*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: white;

}

body {
    /*background-image: url("http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_1.jpg");*/
    background: linear-gradient(white 10%, red 30%, black 60%);
}

.container {
    width: 900px;
    height: 800px;
    background-color: rgba(166, 166, 166, 0);
    margin: 25px auto;
}
.navbar {
    height: 40px;
    width: auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(38, 38, 38, 1.0);

}

.nav-el:hover{
    background: blackR;
}

.navbar a{
    margin: 0px 10px;
}

table{
    margin-top: 8px;
}

.side-container{
    margin-top: 20px;
    height: 515px;
    width: 200px;
    background: rgba(38, 38, 38, 1);
    border-radius: 10px;
    justify-content: space-between;
    float: left;
}

li{
    text-align: center;
    float: left;
    margin: 20px 0;
    padding-left: 5px;
}

.social-networks {
    width: 200px;
    display: block;
    background: rgba(38, 38, 38, 1);
    float: left;
    clear: left;
    border-radius: 10px;
    margin: 20px 20px 0 0;
    height: 190px;
    /*position: relative;*/
}

/*Zasto nece da se pomerau redovi unutar social networks div-a*/
.social-networks th {
    font-size: 22px;
    /*text-align: right;*/
    /*position: relative;*/
    padding: 10px 15px;
    color: white;
    style: strong;
}

.social-networks td{
    padding-left: 50px;
}
ul{
    list-style-type: none;
    padding: 25px;
}


.text {
    display: inline;
    height: 346px;
    float: right;
    width: 680px;
    margin-top: 20px;
    background: black;
    border-radius: 10px;
    color: white;
}
.text p, h1 {
    margin-left: 5px;
}

#top {
    display: inline;
    height: 360px;
    width: auto;
    margin-top: 20px;
    float: right;
}
.center-content {
    height: 750px;
    justify-content: space-between;
    width: auto;
}










/*.navbar a {*/
    /*text-decoration: none;*/
    /*color: black;*/
/*}*/

/*ul {*/
    /*display: inline;*/
/*}*/

/*!*.navbar li{*!*/
    /*!*position: relative;*!*/
    /*!*display: inline;*!*/
    /*!*margin: 2px 8px;*!*/
    /*!*padding: 2px 5px;*!*/
    /*!*text-transform: uppercase;*!*/
    /*!*font-size: 18px;*!*/
    /*!*float: left;*!*/
    /*!*text-decoration-line: none;*!*/
    /*!*border-radius: 8px;*!*/
    /*!*border-right: 1px solid red;*!*/
/*!*}*!*/
/*.email {*/
    /*float: right;*/
    /*color: black;*/
    /*font-size: 0.6em;*/
/*}*/
/*.email:hover {*/
    /*font-style: italic;*/
    /*cursor: pointer;*/
/*}*/

/*aside {*/
    /*font-size: 0.8em;*/
/*}*/
/*aside a{*/
    /*text-decoration: none;*/
    /*color: black;*/
/*}*/
/*aside li{*/

/*}*/
